<table class="table">
  <thead class="bg-light">
    <th>Name</th>
    <th>Spots</th>
    <th>Follower</th>
    <th></th>
  </thead>
  <tbody>
    <% members.each do |member| %>
      <tr>
        <td class="align-middle"><%= member.name %></td>
        <td class="align-middle"><%= member.spots.count %></td>
        <td class="align-middle"><%= member.followers.count %></td>
        <td class="align-middle"><%= link_to "show", member_path(member.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>