<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Google Maps API</title>
  </head>
  <body>

    <div id="map" style="width: 100%; height: 100vh; margin: 0; padding: "></div>

    <script type="text/javascript">
    // フォームのlatitudeとlongitudeフィールドを取得
    const latitudeField = document.getElementById("spot_latitude");
    const longitudeField = document.getElementById("spot_longitude");

    function initMap() {
      var opts = {
        zoom: 15,
        center: new google.maps.LatLng(33.5902479, 130.4177656)
      };
      var map = new google.maps.Map(document.getElementById("map"), opts);

      // マーカーを追加
      var marker = new google.maps.Marker({
        position: opts.center,
        map: map,
        title: "ここにマーカーが表示されます"
      });

      // マップクリック時に新しいマーカーを作成
      google.maps.event.addListener(map, "click", function(event) {
        var clickedLat = event.latLng.lat();
        var clickedLng = event.latLng.lng();

        // 新しいマーカーを作成
        var newMarker = new google.maps.Marker({
          position: event.latLng,
          map: map,
          title: "新しいマーカー"
        });

        // 新しいマーカーをクリックした際に緯度経度を表示
        google.maps.event.addListener(newMarker, "click", function() {
          alert("クリックされた位置の緯度: " + clickedLat + ", 経度: " + clickedLng);

          // フォームのlatitudeとlongitudeフィールドに値をセット
          latitudeField.value = clickedLat;
          longitudeField.value = clickedLng;

          // 逆ジオコーディングを行う関数を呼び出す
          reverseGeocode(clickedLat, clickedLng);
        },  { passive: true });
      });
    }

    function reverseGeocode(latitude, longitude) {
    const geocoder = new google.maps.Geocoder();

    // 緯度経度を指定して逆ジオコーディングを実行
    geocoder.geocode({ location: { lat: latitude, lng: longitude } }, function(
      results,
      status
    ) {
      if (status === "OK" && results[0]) {
        // 住所情報を取得してフォームのフィールドにセット
        const address = results[0].formatted_address;
        document.getElementById("spot_address").value = address; // 住所のフィールドにセットするIDを指定
      } else {
        console.log("逆ジオコーディングに失敗しました。");
      }
    });
  }

    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
    </script>
  </body>
</html>
