<div class="container">
  <div class="d-flex justify-content-center flex-column row">
    <div><%#= link_to 'Tags',  tags_path %></div>
    <div><%= link_to 'about', about_path, class: "btn btn-info" %></div>
    <% if member_signed_in? %>
    <div><%#= link_to '新規登録' %></div>
    <div><%#= link_to 'お気に入り' %></div>
    <div><%= link_to 'My Page', member_path(current_member.id), class: "btn btn-info" %></div>
    <% end %>
  </div>
</div>