<div class="row">
  <div class="col-1 bg-secondary">
    <%= render 'sidebar' %>
  </div>

  <div class="col-3 bg-info">
    <%= render 'form', spot: @spot, url: new_spot_path, submit: '登録' %>
  </div>

  <div class="col" style="padding: 0;">
    <%= render 'map' %>
  </div>
</div>