<div class="row">
  <div class="col-1 bg-secondary">
    <h1>サイドバー</h1>
  </div>

  <div class="col-3 bg-info">
    <h1>フォーム</h1>
  </div>

  <div class="col bg-danger">
    <h1>MAP</h1>
  </div>
</div>